#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  min-width: 100vw;
  min-height: 100vh;
}

.site-header {
  text-align: center;
}

.site-nav {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.page-header {
  text-align: center;
}
